In [637]:
import os

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [638]:
ratio = .1

In [639]:
path_data = "../../data"

filename_entete = "entete.csv"

# équivalent à path_data + filename_meteo et s'assure que le path est de la bonne forme
path_data_entete = os.path.join(path_data, filename_entete)
# affiche le chemin path_data_meteo
print(path_data_entete)

../../data/entete.csv

In [640]:
df_entete = pd.read_csv(path_data_entete, sep=",")

In [641]:
df_entete

,CdeNumCom,TypCde,CodeClient,DateCreation,Gestionnaire,CAHT,Transfo
0,140500651,C,2625,4/10/2018,ALU,2065.80,140500651-02
1,140600145,C,5505,4/18/2018,ALU,16960.51,140600145-03
2,140600145-03,D,5505,4/17/2018,ALU,16967.47,140600145
3,140901111-01,D,3796,8/1/2018,PVC,1300.41,NaN
4,150200732,C,10497,7/30/2018,PVC,1748.40,150200732-02
...,...,...,...,...,...,...,...
73992,220400749-00,D,5191,4/19/2022,ALU,0.00,NaN
73993,220400750-00,D,14050,4/19/2022,BOIS,0.00,NaN
73994,220400751,C,1378,4/19/2022,ALU,0.00,NaN
73995,220400752,C,2048,4/19/2022,ALU,0.00,NaN
73996,220400753-00,D,4294,4/19/2022,ALU,0.00,NaN

In [642]:
df_entete["NombreCommandes"] = 0
df_entete["NombreDevis"] = 0

In [643]:
df_entete_commandes = df_entete.loc[
    df_entete["TypCde"] == "C"
].groupby("CodeClient")["NombreCommandes"].count().reset_index()

df_entete_commandes

      CodeClient  NombreCommandes
0              1               12
1              3               15
2             12                1
3             13                1
4             22                1
...          ...              ...
2819       14727                1
2820       14734                1
2821       14738                1
2822       14750                1
2823       14764                1

[2824 rows x 2 columns]

In [644]:
df_entete_devis = df_entete.loc[
    df_entete["TypCde"] == "D"
].groupby("CodeClient")["NombreDevis"].count().reset_index()

df_entete_devis

      CodeClient  NombreDevis
0              1           31
1              3           26
2              5            3
3             12            1
4             13            1
...          ...          ...
4252       14763            2
4253       14765            1
4254       14766            1
4255       14768            1
4256       99998            5

[4257 rows x 2 columns]

In [645]:
df_entete_group = pd.merge(df_entete_commandes, df_entete_devis, how='right', on = 'CodeClient')

df_entete_group["NombreCommandes"] = df_entete_group["NombreCommandes"].fillna(0)
df_entete_group["NombreDevis"] = df_entete_group["NombreDevis"].fillna(0)

df_entete_group = df_entete_group.astype({
    "CodeClient": int,
    "NombreCommandes": int,
    "NombreDevis": int
})

df_entete_group

      CodeClient  NombreCommandes  NombreDevis
0              1               12           31
1              3               15           26
2              5                0            3
3             12                1            1
4             13                1            1
...          ...              ...          ...
4252       14763                0            2
4253       14765                0            1
4254       14766                0            1
4255       14768                0            1
4256       99998                0            5

[4257 rows x 3 columns]

In [646]:
df_entete_group["Ratio"] = df_entete_group["NombreCommandes"] / df_entete_group["NombreDev  is"]

df_entete_group

      CodeClient  NombreCommandes  NombreDevis     Ratio
0              1               12           31  0.387097
1              3               15           26  0.576923
2              5                0            3  0.000000
3             12                1            1  1.000000
4             13                1            1  1.000000
...          ...              ...          ...       ...
4252       14763                0            2  0.000000
4253       14765                0            1  0.000000
4254       14766                0            1  0.000000
4255       14768                0            1  0.000000
4256       99998                0            5  0.000000

[4257 rows x 4 columns]

In [647]:
df_entete_group.loc[
    df_entete_group["Ratio"] < ratio
]

      CodeClient  NombreCommandes  NombreDevis  Ratio
2              5                0            3    0.0
5             16                0            3    0.0
11            37                0            1    0.0
17            51                0            4    0.0
32            96                0            1    0.0
...          ...              ...          ...    ...
4252       14763                0            2    0.0
4253       14765                0            1    0.0
4254       14766                0            1    0.0
4255       14768                0            1    0.0
4256       99998                0            5    0.0

[1846 rows x 4 columns]