In [194]:
import os

import numpy as np
import pandas as pd

In [195]:
path_data = "../data"

In [196]:
filename_ligne = "Ligne.csv"

In [197]:
path_data_ligne = os.path.join(path_data, filename_ligne)

In [198]:
df_ligne = pd.read_csv(path_data_ligne, sep=",")

c:\users\ahmed\appdata\roaming\jetbrains\dataspell2021.3\projects\workspace\venv\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [199]:
df_ligne

,N° CDE,L,Qte,Type,CodeClient,DateCreation,Gestionnaire,Type Menuiserie,Ouverture,Nb Zone,CA HT,Transformation,Unnamed: 12
0,140500651,1.0,1.0,C,2625.0,4/10/2018,ALU,HO,OF,1,1032.90,140500651-02,NaN
1,140500651,2.0,1.0,C,2625.0,4/10/2018,ALU,HO,OF,1,1032.90,140500651-02,NaN
2,140600145,1.0,8.0,C,5505.0,4/18/2018,ALU,FE,OF,1,13566.08,140600145-03,NaN
3,140600145,2.0,1.0,C,5505.0,4/18/2018,ALU,PF,OF,1,2126.06,140600145-03,NaN
4,140600145,3.0,1.0,C,5505.0,4/18/2018,ALU,FE,OF,1,1268.37,140600145-03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133753,220400553-00,1.0,1.0,D,7702.0,4/13/2022,BOIS,ODB,BAS,1,608.00,NaN,NaN
133754,220400560-00,1.0,1.0,D,5959.0,4/13/2022,ALU,ODB,FX,1,1138.45,NaN,NaN
133755,220400560-00,2.0,0.0,D,5959.0,4/13/2022,ALU,ODB,FX,2,0.00,NaN,NaN
133756,220400561-00,1.0,1.0,D,12560.0,4/13/2022,ALU,FE,OF,1,1374.98,NaN,NaN
133757,220400561-01,1.0,1.0,D,12560.0,4/14/2022,ALU,FE,OF,1,1374.98,NaN,NaN

In [200]:
df_ligne = df_ligne.loc[:, ["Type", "CodeClient", "Gestionnaire", "DateCreation"]]

In [201]:
df_ligne = df_ligne[df_ligne.Type != 'D']

In [202]:
df_ligne = df_ligne[df_ligne.Gestionnaire == 'PVC']

In [203]:
df_ligne

       Type  CodeClient Gestionnaire DateCreation
10        C     10497.0          PVC   2018-07-30
59        C      5399.0          PVC   2019-05-07
69        C      4429.0          PVC   2018-05-17
107       C      6521.0          PVC   2018-06-15
112       C      4567.0          PVC   2018-06-22
...     ...         ...          ...          ...
133727    C     10351.0          PVC   2022-04-12
133733    C      1197.0          PVC   2022-04-13
133734    C      1197.0          PVC   2022-04-13
133744    C      3431.0          PVC   2022-04-13
133745    C      3431.0          PVC   2022-04-13

[7538 rows x 4 columns]